<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h1>
        Meu formulario
    </h1>
    <form action="/pessoa/salvar" method="post">
        <fieldset>
            <legend>
                Criação de Pessoa
            </legend>
            <label for="">Nome</label>
            <input type="text">
            <label for="">Data de nascimento</label>
            <input type="date">
            <button>Salvar</button>
        </fieldset>
    </form>
</body>
</html>